package {{.Table.Name}}

import (
	"database/sql"
	"encoding/json"
	"math/big"
	"net"
	"time"

	"github.com/google/uuid"
)

type Model struct { {{range .Table.Columns}}
	{{.GoName}} {{.GoType}} `json:"{{.Name}}"`{{end}}
}

type CreateInput struct { {{range .Table.CreateInputColumns}}
	{{.GoName}} {{.GoType}} `json:"{{.Name}}"`{{end}}
}

type UpdateInput struct { {{range .Table.UpdateInputColumns}}
	{{.GoName}} {{.GoType}} `json:"{{.Name}}"`{{end}}
}
