package {{.Table.Name}}

import (
	"encoding/json"
	"math/big"
	"net"
	"time"
	"log"
	"net/http"

	"{{.ProjectConfig.Base}}{{.ProjectConfig.Name}}/internal/parser"
	"github.com/gofiber/fiber/v2"
)

func HandleGetAll(c *fiber.Ctx) error {
	{{.Table.PluralName}}, err := findAll()

	if err != nil {
		log.Println(err)
		return c.Status(http.StatusBadRequest).JSON(map[string]string{"message": err.Error()})
	}

	return c.JSON(&{{.Table.PluralName}})
}

func HandleGetOne(c *fiber.Ctx) error {
	var err error {{range .Table.PrimaryKeys}}
	{{.NameNoSpaces}}Param := c.Params("{{.NameNoSpaces}}")
	{{if .ParserFunc}}{{.VarName}}, err := parser.{{.ParserFunc}}({{.NameNoSpaces}}Param)
	if err != nil {
		log.Println(err)
		return c.Status(http.StatusBadRequest).JSON("Invalid {{.NameNoSpaces}}")
	}{{else}}{{.VarName}} := {{.NameNoSpaces}}Param{{end}}
	{{end}}
	{{.Table.SingularName}}, err := findOne({{.Table.PrimaryKeysByCommaVars}})

	if err != nil {
		log.Println(err)
		return c.Status(http.StatusInternalServerError).JSON(map[string]string{"message": err.Error()})
	}

	return c.JSON(&{{.Table.SingularName}})
}

func HandlePost(c *fiber.Ctx) error {
	var err error

	{{.Table.InputName}} := new(CreateInput)

	if err = c.BodyParser({{.Table.InputName}}); err != nil {
		log.Println(err)
		return c.Status(http.StatusBadRequest).JSON("Invalid input")
	}

	{{.Table.SingularName}}, err := create({{.Table.InputName}})

	if err != nil {
		log.Println(err)
		return c.Status(http.StatusInternalServerError).JSON(map[string]string{"message": err.Error()})
	}

	return c.Status(http.StatusCreated).JSON(&{{.Table.SingularName}})
}

func HandlePut(c *fiber.Ctx) error {
	var err error {{range .Table.PrimaryKeys}}
	{{.NameNoSpaces}}Param := c.Params("{{.NameNoSpaces}}")
	{{if .ParserFunc}}{{.VarName}}, err := parser.{{.ParserFunc}}({{.NameNoSpaces}}Param)
	if err != nil {
		log.Println(err)
		return c.Status(http.StatusBadRequest).JSON("Invalid {{.NameNoSpaces}}")
	}{{else}}{{.VarName}} := {{.NameNoSpaces}}Param{{end}}
	{{end}}
	{{.Table.InputName}} := new(UpdateInput)

	if err = c.BodyParser({{.Table.InputName}}); err != nil {
		log.Println(err)
		return c.Status(http.StatusBadRequest).JSON("Invalid input")
	}

	{{.Table.SingularName}}, err := update({{.Table.PrimaryKeysByCommaVars}}, {{.Table.InputName}})

	if err != nil {
		log.Println(err)
		return c.Status(http.StatusInternalServerError).JSON(map[string]string{"message": err.Error()})
	}

	return c.JSON(&{{.Table.SingularName}})
}

func HandleDelete(c *fiber.Ctx) error {
	var err error {{range .Table.PrimaryKeys}}
	{{.NameNoSpaces}}Param := c.Params("{{.NameNoSpaces}}")
	{{if .ParserFunc}}{{.VarName}}, err := parser.{{.ParserFunc}}({{.NameNoSpaces}}Param)
	if err != nil {
		log.Println(err)
		return c.Status(http.StatusBadRequest).JSON("Invalid {{.NameNoSpaces}}")
	}{{else}}{{.VarName}} := {{.NameNoSpaces}}Param{{end}}
	{{end}}
	err = delete({{.Table.PrimaryKeysByCommaVars}})

	if err != nil {
		log.Println(err)
		return c.Status(http.StatusInternalServerError).JSON(map[string]string{"message": err.Error()})
	}

	return c.JSON(map[string]string{"message": "Resource deleted successfully"})
}
