package {{.Table.Name}}

import (
	"database/sql"
	"encoding/json"
	"math/big"
	"net"
	"time"
	
	"{{.ProjectConfig.Base}}{{.ProjectConfig.Name}}/internal/database"
)

func findAll() ([]*Model, error) {
	sqlStr := `SELECT * FROM {{.Table.Name}}`
	rows, err := database.DB.Query(sqlStr)
	if err != nil {
		return nil, err
	}
	defer rows.Close()

	{{.Table.PluralName}} := make([]*Model, 0)
	for rows.Next() {
		{{.Table.SingularName}} := new(Model)
		err := rows.Scan({{.Table.ModelScanParams}})
		if err != nil {
			return nil, err
		}
		{{.Table.PluralName}} = append({{.Table.PluralName}}, {{.Table.SingularName}})
	}

	return {{.Table.PluralName}}, nil
}

func findOne({{.Table.PrimaryKeysFuncParams}}) (*Model, error) {
	sqlStr := `SELECT * FROM {{.Table.Name}} {{.Table.PrimaryKeysWhereClause}}`

	{{.Table.SingularName}} := new(Model)
	row := database.DB.QueryRow(sqlStr, {{.Table.PrimaryKeysByCommaVars}})
	err := row.Scan({{.Table.ModelScanParams}})

	if err != nil {
		return nil, err
	}

	return {{.Table.SingularName}}, nil
}

func create({{.Table.InputName}} *CreateInput) (*Model, error) {
	sqlStr := `INSERT INTO {{.Table.Name}} ({{.Table.CreateInputByComma}}) VALUES ({{.Table.CreateInputNumbersByComma}}) RETURNING {{.Table.ColumnsByComma}}`

	{{.Table.SingularName}} := new(Model)
	row := database.DB.QueryRow(sqlStr, {{.Table.CreateInputParams}})
	err := row.Scan({{.Table.ModelScanParams}})
	if err != nil {
		return nil, err
	}

	return {{.Table.SingularName}}, nil
}

func update({{.Table.PrimaryKeysFuncParams}}, {{.Table.InputName}} *UpdateInput) (*Model, error) {
	sqlStr := `{{.Table.UpdateClause}} RETURNING {{.Table.ColumnsByComma}}`

	{{.Table.SingularName}} := new(Model)
	row := database.DB.QueryRow(sqlStr, {{.Table.UpdateInputParams}}, {{.Table.PrimaryKeysByCommaVars}})
	err := row.Scan({{.Table.ModelScanParams}})
	if err != nil {
		return nil, err
	}

	return {{.Table.SingularName}}, nil
}

func delete({{.Table.PrimaryKeysFuncParams}}) error {
	sqlStr := `DELETE FROM {{.Table.Name}} {{.Table.PrimaryKeysWhereClause}}`

	_, err := database.DB.Exec(sqlStr, {{.Table.PrimaryKeysByCommaVars}})
	if err != nil {
		return err
	}

	return nil
}
