package {{.Table.Name}}

import (
	"encoding/json"
	"math/big"
	"net"
	"time"

	"github.com/google/uuid"
)

type Model struct { {{range .Table.Columns}}
	{{.GoName}} {{.Type}} `json:"{{.Name}}"`{{end}}
}

type Input struct { {{range .Table.NotPrimaryKeys}}
	{{.GoName}} {{.Type}} `json:"{{.Name}}"`{{end}}
}
