  {{range .Tables}}  
  app.Get("/{{.PluralName}}", {{.Name}}.HandleGetAll)
	app.Get("/{{.PluralName}}/{{.PrimaryKeysEndpoint}}", {{.Name}}.HandleGetOne)
	app.Post("/{{.PluralName}}", {{.Name}}.HandlePost)
	app.Put("/{{.PluralName}}/{{.PrimaryKeysEndpoint}}", {{.Name}}.HandlePut)
	app.Delete("/{{.PluralName}}/{{.PrimaryKeysEndpoint}}", {{.Name}}.HandleDelete)
  {{end}}